{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class='main-nav-list'>
          {% assign section = url | remove_first:'/' | split:'/' | first %}
          {% assign prev_group = 0 %}

          {% for page in site.pages %}
            {% unless page.home? %}
              {% if page.meta.group != prev_group %}
                </ul>
                <ul class='main-nav-list'>
              {% endif %}

              <li{% if section == page.slug %} class='is-selected'{% endif %}>
                <a href='{{ page.url }}'>{{ page.title }}</a>
              </li>

              {% assign prev_group = page.meta.group %}
            {% endunless %}
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
